@import url('https://fonts.googleapis.com/css?family=Lora|Pacifico');


body {
 font-family: 'Lora', serif;
}

.logo5 {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: 'Pacifico', cursive;
}

.header-div {
  background-image: linear-gradient(#00000093, #00000093), url("./annie-spratt-44241-unsplash.jpg");  
  height: 100vh;
  background-size: cover;
}


