<h1>Hello <%= current_user.username.capitalize %></h1>


<% current_user.restaurants.each do |restaurant| %>
  <% if restaurant.reviews.first.user == current_user %>
    <%= render partial: "restaurants/restaurant", locals: {restaurant: restaurant} %>
    <%= link_to "Edit Restaurant", edit_restaurant_path(restaurant)%>
    <span><%= link_to "Delete", restaurant, method: :delete, data: { confirm: "Are you sure?" } %></span>
  <% end %>
<% end %>
