<div class="container">
  
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 sign-in-portal">
      <!--<#% if params[:user_id] && is_admin? %>-->
      <!--  <li><#%= link_to "Add Restaurant", new_user_restaurant_path(current_user)%></li>-->
      <!--<#% end %>-->
    </div>
    <div class="col-lg-4"></div>
  </div>

</div>