<h1>Hello</h1>
<h2>Welcome <%= current_user.username %></h2>

<% if !logged_in? %>
  <%= link_to 'Login', login_path %>
  <%= link_to 'Signup', signup_path %>
<% else %>
  <%= link_to 'Logout', logout_path %>
<% end %>
