<h1>Hello</h1>

<% if !logged_in? %>
  <%= link_to 'Login', login_path %>
  <%= link_to 'Signup', signup_path %>
<% else %>
  <h2>Welcome <%= current_user.username %></h2>
  <%= link_to 'Logout', logout_path  %>
<% end %>
