<div style="background-color: #E0E6E6; padding: 20px; width: 500px">
  <h2><span style="color: #517A2A">Name:</span> <%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
  <h3><span style="color: #517A2A">Cuisine:</span> <%= restaurant.cuisine %><h3>
  <h3><span style="color: #517A2A">Location:</span> <%= restaurant.location %></h3>
  <h4><%= link_to "Edit", edit_restaurant_path(restaurant) %></h4>
</div>
