
<% if is_admin? %>
  <h1>Edit Restaurant</h1>

  <%= form_for(@restaurant) do |f| %>
    <%= render partial: "form", locals: {f: f} %>

    <h3>
      <%= f.submit %>
    </h3>
  <% end %>
<% end %>
