/*@import url('https://fonts.googleapis.com/css?family=Slabo+27px');*/
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
 font-family: 'Lora', serif;
}
 
 .field_with_errors {
   border: 1px red solid;
 }
 
 .sign-in-portal {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
  
 }
 
 .label {
  padding: 8px;
  margin-bottom: 15px;
 }
 
 .rest_div {
  background-color:	#dddfd4;
  padding: 20px 20px 0px 20px;
 }

 .rest_div h2, #reviews_div h3, .owner_div h3 {
  font-weight: bold;
  color: #3fb0ac;
 }
 
 .rest_div h4 {
  color: #173e43;
 }
 
 .owner_div {
  background-color:	#dddfd4;
  padding: 5px 0px 5px 18px;
 }
 
 #reviews_div {
  background-color: #b3c2bf;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 3px 7px #e6e6e8;
 }
 
  #reviews_div h3 {
  color: #f2efe8;
 }

nav {
 padding: 10px, 30px, 10px, 10px;
 font-size: 1.2em;
}

nav li {
 color: red;
}